{% extends 'base.html' %}
{% block content %}
<h3>Cart</h3>

{% if cart.products.exists %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product Name</th>
      <th scope="col">Product Price</th>
    </tr>
  </thead>
  <tbody>
    {% for product in cart.products.all %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ product.title }} 
      <form method='POST' action='{% url "cart:update" %}' class="form"> {% csrf_token %}
         <input type='hidden' name='product_id' value='{{ product.id }}' />
        <button type="submit" class="btn btn-link btn-sm" style="padding: 0px; cursor: pointer;">Remove</button> 
      </form>
      </td> 
      <td>{{ product.price }}</td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="2"></td>
      <td><b>Subtotal</b> {{ cart.subtotal }}</td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td><b>Total</b> {{ cart.total }}</td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td><a class='btn btn-lg btn-success cart-checkout' href='{% url "cart:checkout" %}'>Checkout</a></td>
    </tr>
  </tbody>
</table>
{% else %}
<p class="lead">Cart is empty.</p>
{% endif %}

{% endblock %}