autopep8==1.4.4
certifi==2019.6.16
chardet==3.0.4
dj-database-url==0.5.0
Django==1.11.4
django-bootstrap4==0.0.8
django-crispy-forms==1.7.2
django-forms-bootstrap==3.1.0
gunicorn==19.9.0
idna==2.8
Pillow==6.1.0
psycopg2-binary==2.8.3
pycodestyle==2.5.0
pytz==2019.1
requests==2.22.0
stripe==2.33.0
urllib3==1.25.3
