{% extends 'base.html' %} {% block content %}
<div class="row description-row">
    <div class="col-sm-6">
    {% if object.image %}
    <div class="detail">
      <img src="/media/{{ object.image }}" class='img-fluid img-detail'>
    </div>  
    {% endif %}  
    </div>
    <div class="col-sm-6">
      <h1 class="product-description-name">{{ object.title }}</h1><br>
      <h2 class="product-description-price"><i class="fa fa-usd" aria-hidden="true"></i>{{ object.price }}</h2><br>
      {% include 'cart/update_cart.html' with product=object cart=cart %}  
      <p class="product-details"><strong>Details</strong></p>
      <p>{{ object.description }}</p>
    </div>
</div>
{% endblock %}